<div class="flex flex-col">
                <div class="flex mt-24 mb-12 flex-row justify-evenly">
                    <div class="ml-20">
                        <h1 class="text-2xl font-semibold">Interio</h1>
                    </div>
                    <a class="hidden md:block cursor-pointer text-gray-400 hover:text-white uppercase">About</a>
                    <a class="hidden md:block cursor-pointer text-gray-400 hover:text-white uppercase">Services</a>
                    <a class="hidden md:block cursor-pointer text-gray-400 hover:text-white uppercase">Why us</a>
                    <a class="hidden md:block cursor-pointer text-gray-400 hover:text-white uppercase">Contact</a>
                    <div class="flex flex-row space-x-8 items-center justify-between ">
                        <a class="font-semibold text-2xl">
                          <i class="fab fa-instagram"></i>
                        </a>
                        <a  class="font-semibold text-2xl">
                          <i class="fab fa-twitter"></i>
                        </a>
                        <a  class="font-semibold text-2xl mr-20">
                          <i class="fab fa-facebook"></i>
                        </a>
                    </div>
                </div>
                <hr class="border-gray-600"/>
                <p class="w-full text-center my-12 text-gray-600">Copyright © 2022 Interio</p>
            </div>
        </div>
    </div>
