<div class="flex justify-between text-center content-center bg-gray-50 ">
    <div class="ml-20">
      <%= image_tag 'logo.png', class:"h-18 w-24 " %>
    </div>
    <div class="flex justify-center items-center">
      <a href=""><h1 class="text-gray-400 text-center p-4 text-md">Home</h1></a>
      <a href=""><h1 class="text-gray-400 text-center p-4 text-md">Property</h1></a>
      <a href=""><h1 class="text-gray-400 text-center p-4 text-md">About</h1></a>
      <a href=""><h1 class="text-gray-400 text-center p-4 text-md">Service</h1></a>
      <a href=""><h1 class="text-gray-400 text-center p-4 text-md">Contact</h1></a>
    </div>

    <div class="text-center flex content-between items-center mr-20">
        <button class="p-2 pl-3 pr-3 text-green-700  rounded-lg text-sm">Sign in</button>
        <button class="p-2 pl-3 pr-3 transition-colors duration-700 transform bg-green-600 hover:bg-green-500 text-gray-100 text-sm rounded-sm focus:border-4 border-indigo-300">Login</button>
    </div>


</div>
