
  <div class="overflow-y-scroll">
   <h1 class="scrollbar-w-1 scrollbar-thumb-gray-400 scrollbar-track-gray-200">  Hola estoy probando scroll Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores voluptas
  ut ipsam et esse dolores deserunt animi a recusandae, dolor ad ab sit repellat tempora. Excepturi laborum nihil illo saepe?
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, quo eveniet. Quaerat reprehenderit odit
  iure eveniet quidem aut amet quae? Mollitia accusamus iusto dolor fugit, omnis sequi cupiditate tempore rerum!
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto esse totam voluptatum alias corrupti consectetur
  incidunt, ipsa, placeat veniam eligendi, accusamus quas adipisci nihil. Beatae iusto accusantium rem porro tenetur.
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi assumenda sapiente molestiae delectus adipisci
  natus aut perspiciatis possimus nostrum quaerat quam, odio magni repellat corporis soluta ex laudantium aliquid iste.
  Hola estoy probando scroll Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores voluptas
  ut ipsam et esse dolores deserunt animi a recusandae, dolor ad ab sit repellat tempora. Excepturi laborum nihil illo saepe?
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, quo eveniet. Quaerat reprehenderit odit
  iure eveniet quidem aut amet quae? Mollitia accusamus iusto dolor fugit, omnis sequi cupiditate tempore rerum!
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto esse totam voluptatum alias corrupti consectetur
  incidunt, ipsa, placeat veniam eligendi, accusamus quas adipisci nihil. Beatae iusto accusantium rem porro tenetur.
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi assumenda sapiente molestiae delectus adipisci
  natus aut perspiciatis possimus nostrum quaerat quam, odio magni repellat corporis soluta ex laudantium aliquid iste.
  Hola estoy probando scroll Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores voluptas
  ut ipsam et esse dolores deserunt animi a recusandae, dolor ad ab sit repellat tempora. Excepturi laborum nihil illo saepe?
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, quo eveniet. Quaerat reprehenderit odit
  iure eveniet quidem aut amet quae? Mollitia accusamus iusto dolor fugit, omnis sequi cupiditate tempore rerum!
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto esse totam voluptatum alias corrupti consectetur
  incidunt, ipsa, placeat veniam eligendi, accusamus quas adipisci nihil. Beatae iusto accusantium rem porro tenetur.
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi assumenda sapiente molestiae delectus adipisci
  natus aut perspiciatis possimus nostrum quaerat quam, odio magni repellat corporis soluta ex laudantium aliquid iste.
  Hola estoy probando scroll Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores voluptas
  ut ipsam et esse dolores deserunt animi a recusandae, dolor ad ab sit repellat tempora. Excepturi laborum nihil illo saepe?
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, quo eveniet. Quaerat reprehenderit odit
  iure eveniet quidem aut amet quae? Mollitia accusamus iusto dolor fugit, omnis sequi cupiditate tempore rerum!
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto esse totam voluptatum alias corrupti consectetur
  incidunt, ipsa, placeat veniam eligendi, accusamus quas adipisci nihil. Beatae iusto accusantium rem porro tenetur.
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi assumenda sapiente molestiae delectus adipisci
  natus aut perspiciatis possimus nostrum quaerat quam, odio magni repellat corporis soluta ex laudantium aliquid iste.
  Hola estoy probando scroll Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores voluptas
  ut ipsam et esse dolores deserunt animi a recusandae, dolor ad ab sit repellat tempora. Excepturi laborum nihil illo saepe?
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, quo eveniet. Quaerat reprehenderit odit
  iure eveniet quidem aut amet quae? Mollitia accusamus iusto dolor fugit, omnis sequi cupiditate tempore rerum!
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto esse totam voluptatum alias corrupti consectetur
  incidunt, ipsa, placeat veniam eligendi, accusamus quas adipisci nihil. Beatae iusto accusantium rem porro tenetur.
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi assumenda sapiente molestiae delectus adipisci
  natus aut perspiciatis possimus nostrum quaerat quam, odio magni repellat corporis soluta ex laudantium aliquid iste.
 </h1>
</div>
